AspNetCoreElasticsearchNestAuditTrail/bin
AspNetCoreElasticsearchNestAuditTrail/obj
AspNetCoreElasticsearchNestAuditTrail/wwwroot
AuditTrail/bin
AuditTrail/obj
.vs/AspNetCoreElasticsearchNestAuditTrail/v15/.suo
.vs
/AspNetCoreElasticsearchNestAuditTrail/node_modules/
